:root {
  --text: #333333;
  --text-h: #111111;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #0f8da3;
  --accent-bg: rgba(15, 141, 163, 0.1);
  --accent-border: rgba(15, 141, 163, 0.5);

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color: var(--text);
  background: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  background: #ffffff;
  color: #333333;
}

body {
  min-height: 100vh;
}

#root {
  width: 1126px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  background: #ffffff;
  color: #333333;

  text-align: center;
  border-inline: 1px solid var(--border);

  display: flex;
  flex-direction: column;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  color: #111111 !important;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
  color: #333333 !important;
}

span,
label {
  color: #333333 !important;
}

/* Inputs */

input,
textarea {
  color: #111111 !important;
  background: #ffffff !important;
}

input::placeholder,
textarea::placeholder {
  color: #777777 !important;
}

/* Amplify inputs */

.amplify-input {
  color: #111111 !important;
  background-color: #ffffff !important;
}

.amplify-input::placeholder {
  color: #777777 !important;
}

/* Amplify text */

.amplify-text {
  color: #333333 !important;
}

.amplify-heading {
  color: #111111 !important;
}

/* Buttons */
/* Amplify buttons */
.amplify-button {
  color: #333333 !important;
}

/* Primary buttons such as Sign In */
.amplify-button--primary {
  color: #ffffff !important;
}

/* Links / secondary actions */
[data-amplify-authenticator] button {
  color: #333333 !important;
}

[data-amplify-authenticator] button[type="submit"] {
  color: #ffffff !important;
}
[data-amplify-authenticator] a {
  color: #0f8da3 !important;
}

[data-amplify-authenticator] a:hover {
  color: #087f94 !important;
}